.box{
    background-image: url('../doc/ruban.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    z-index: -5;
    
}
body{
    margin: 0px;
}

.box{
    display: flex;
    color: white;
    border-bottom:70px;
}


#menu-1{
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
}

#menup{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75vw;
    border-top: 8px;
    border-left: 8px;
}



.resume{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.4vw;
    margin-top: 20px;
    margin-bottom: 22px;
    margin-right: 25%;
    background-color: black;
    width: 70%;
    margin-left: 15%;
    color: white;
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
}
.bloc video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    overflow: hidden;
}
.bloc::before{
    content: "";
    background-color: #000000f2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -50;
    overflow: hidden;
}


#procedure{
    width: 100%;
    margin-top: 40px;
    border-top: 5px double rgba(255, 255, 255, 0.274) ;
    border-bottom: 5px double rgba(255, 255, 255, 0.274);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.35vw;
}

#presentation{
    width: 100%;
    margin-top: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.35vw;
}

#contact{
    position: absolute;
    background-color: rgba(0, 0, 0);
    color: white;
    width: 100%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 0.5vw
}

.contact-1{
    display: flex;
    width: 100%;
}

.contact-1 div{
    width: 50%;
    text-align: center;
}

.bouton{
    text-align: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    font-size: 16px;
    color: black;
}

#menu1 a{
    text-decoration: none;
}

.lien{
    font-size: 12px;
}

#lien{
    display: flex;
    justify-content: space-around;
}